@import "src/index.scss";
.about-container {
  .content {
    font-size: 1.5rem;
    text-align: justify;
    max-width: 100%;
    padding: 20px;
  }
}

@include mobiles {
  .about-container {
    .content {
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 81px 30px;
      font-size: 17px;
      text-align: justify;
      max-width: 86%;
    }
  }
}
