.about-container {
  .content {
    font-size: 1.5rem;
    text-align: justify;
    max-width: 100%;
    margin: 43px 295px;
  }
}

@media only screen 
  and (device-width: 390px) 
  and (device-height: 844px) 
  and (-webkit-device-pixel-ratio: 3)  {
  .about-container {
    .content {
      width: 100%;
      margin: 0;
      text-align: center;
      padding: 81px 30px;
      font-size: 17px;
      text-align: justify;
      max-width: 86%;
    }
  }
}
