.container {
  background-color: #111111;
  z-index: 99;
  .nav-items {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: #fff;
    & > li {
      cursor: pointer;
      margin: 20px;
      font-weight: 600;
      font-size: 17px;
      transition: color 0.3s ease;
      &:hover {
        color: rgba(189, 184, 184, 0.671);
      }
    }
    .active {
      border-bottom: solid 2px white;
      padding-bottom: 5px;
    }
  }
}
