.projects-container {
  padding: 1rem;
  background: url('/public/background.webp');
  background-size: cover;
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 40px;
    margin-top: 20px;
  }
}
