@import "src/index.scss";
.projects-container {
  padding: 1rem;
  overflow: auto;
  max-height: 100vh;
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px 40px;
    margin-top: 20px;
  }
}

@include mobiles {
  .projects-container {
    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
